page-login {

    .placeholder-text{
        font-size: 0.9em;
    }

    .icon {
        color: #008237
    }

    .list .item, .list .item-complex .item-content {
        background: rgba(255,255,255,0);
    }

    .item .item-content.activated {
        background-color: purple !important;
    }

    .list-initial{
        position: absolute;
        top: 25%
    }

    .button-initial{
        position: absolute;
        top: 80%;
    }

    .scroll-content{
        padding-bottom: 0px !important;
    }

    .img-focus{
        margin: auto;
        display: block;
        margin-left: 9%;
    }

    .getstart {
        background-image: url('../../assets/imgs/fondo.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .form-data{
        display: block;
    }

    ion-img.imgBigBack{
        width: 100%;    
        min-height: 80px;
        max-height: 200px;
        margin-top: 15%;
        background-color: transparent;
        contain: none;
    }

    ion-img.imgBigBack img{
        margin: auto;
        min-height: 80px;
        max-height: 200px;
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }
    .errorMessage {
        color: red;
        font-size: 10px;
        margin-left: 20px;
        text-align: center;
    }

    ion-input{
        background: rgba(245, 212, 202, 0.34);
        width: 80%;
        margin: auto;
    }

    ion-input input{
        text-align: center;
    }

    div.divider{
        margin-bottom: 5vh;
    }
    .item-md{
        background: none;
    }
}
