<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Solicitud de credito</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="content" padding>

  <p>Hola
    {{dataUser.firstname.value}} ya falta poco para completar tu credito, por favor diligencia estos datos para
    verificar si podemos aprobar tu credito:</p>

  <ion-list>

    <form [formGroup]="validForm" class="form-data" (ngSubmit)="credit()">

      <ion-item>
        <ion-input placeholder="Nombre Empresa" formControlName="name"
          [class.invalid]="!validForm.controls.name.valid  && validForm.controls.name.dirty"></ion-input>
      </ion-item>

      <p class="errorMessage" *ngIf="validForm.controls.name.hasError('required') && (validForm.controls.name.touched)">
        Por favor ingresa el nombre de tu empresa
      </p>
      <br>

      <ion-item>
        <ion-input placeholder="Nit Empresa" formControlName="nit" autocomplete="off"
          [class.invalid]="!validForm.controls.nit.valid  && validForm.controls.nit.dirty"></ion-input>
      </ion-item>

      <p class="errorMessage" *ngIf="validForm.controls.nit.hasError('required') && (validForm.controls.nit.touched)">
        Por favor ingresa el nit de tu empresa
      </p>

      <p class="errorMessage"
        *ngIf="!validForm.controls.nit.hasError('required') && validForm.controls.nit.hasError('pattern')  && (validForm.controls.nit.dirty)">
        El nit solo debe contener numeros, del resto nos encargamos nosotros
      </p>
      <br>


      <ion-item>
        <ion-input placeholder="Salario Actual" maxlength="8" formControlName="salary" autocomplete="off"
          [class.invalid]="!validForm.controls.salary.valid  && validForm.controls.salary.dirty">
        </ion-input>
      </ion-item>

      <p class="errorMessage"
        *ngIf="validForm.controls.salary.hasError('required') &&  (validForm.controls.salary.touched)">
        Por favor ingresa tu salario
      </p>

      <p class="errorMessage"
        *ngIf="!validForm.controls.salary.hasError('required') && validForm.controls.salary.hasError('pattern')  && (validForm.controls.salary.dirty)">
        Tu salario debe contener solo numeros y el valor debe ser positivo
      </p>
      <br>


      <ion-item>
        <ion-label>
          <br>Fecha Ingreso Empresa</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm" class="placeholder-text" formControlName="date">
        </ion-datetime>
      </ion-item>

      <div padding>
      </div>
      <button ion-button block round type="submit" [disabled]="!validForm.valid">Solicitar Credito</button>
    </form>
  </ion-list>

</ion-content>